* {
    font-family: 'Gaegu', cursive;
}


h1 {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
}

h2 {
    text-align: center;
    font-weight: 400;
}

h3 {
    margin: 0;
    padding: 0.5em;
}

#topInfo {
    display: flex;
    justify-content: space-around;
    font-weight: 300;
    background-color: antiquewhite;
    border-radius: 20px;
}

#result {
    text-align: center;
    font-weight: 300;
    font-size: 30px;
}

#picker {
    font-weight: 300;
    font-size: 20px;
}

/* form CSS */
#moodForm {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-content: center;
    margin: 0.5em;
}

#form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 5px;
    margin: 2em;
}

#form h3 {
    font-size: 20px;
    margin: 0;
    padding: 0 0.5em 0 0;
}

#result {
    flex-direction: column;
    max-width: 70vw;
    margin: auto;
}

#bottomImg {
    position: absolute;
    bottom: 0;
    left: 0;
}

#mountain {
    position: absolute;
    width: 100vw;
    /* height: 10vh; */
    left: 0;
    bottom: 0;
}

#sun {
    position: relative;
}

.hidden {
    opacity: 0;
}

.show {
    opacity: 100%;
}