* {
    margin: 0;
}

body {
    background-image: url("images/sky.jpg");
    background-size:cover;
    color: rgb(235, 235, 235);
    transition: all 2s;
    width: 100%;
    background-attachment: fixed;
}

body.switch {
    background-color: rgb(235, 235, 235);
    color: #333;
    transition: all 2s;
}

div#container {
    margin: 0;
}
#container {
    position: relative;
    width: 100vw;
    max-width: 1500px;
    /* make sure the columns don't get too small and text stays readable */
    min-width: 900px;
}

#scrollBand {
    margin-top: 0.5em;
    background-color: black;
    width: 100vw;
}

header h2 span{
    margin: 0 auto 0.2em auto;
    padding-left: 30px;
    animation: hscroll 80s linear infinite;
    animation-duration: 24000ms;
    animation-delay: 500ms;
    color: rgb(255, 198, 54);
    width: 200%;
    display: inline-block;
}

@keyframes hscroll {
    0% {transform: translateX(0);}
    100% {transform: translate(-100%);}
}

h2 {
    padding: 0.5em 0 0.5em 0;
    width: 100vw;
    overflow: hidden;
    white-space: nowrap;
    font-family: 'IBM Plex Mono', monospace;
}

h1 {
    margin: 0 0 0 0.5em;
}

#banner {
    width: 70vw;
    height: 230px;
    padding: 1em 1em 1em 1em;
    margin: 0.5em auto;
    background-color: white;
    color: #333;
    display: block;
    border-radius: 20px;
    border-top: rgb(255, 201, 53) 15px solid;
    font-family: 'IBM Plex Mono', monospace;
}

#bannerinfo {
    display: flex;
    justify-content: space-between;
}

h2 {
    margin: 0;
}

/* big banner on the left */
#bigBanner {
    display: flex;
    line-height: 2.5em;
    padding-top: 2.1em;
}

.qrcode {
    align-items: center;
}

#category {
    text-align: right;
    margin: 0;
    padding: 0 2em 0 1em;
    font-weight: 600;
}

#myinfo {
    margin: 0;
}

/* small banner on the right */
#smallBanner {
    padding: 0 8em 0 2em;
    border-left: #333 dashed;
}

/* bottom 4 sections */
main {
    display: flex;
    justify-content: space-between;
    margin: 1em auto;
    padding: 0 0 0.55em 0;
    width: 90vw;
    height: 80%;
    font-family: 'Raleway', sans-serif;
    line-height: 0.6em;
}

main section {
    width: 22%;
    height: 46.2vh;
    background-color:white;
    margin-top: 0.5em;
    border-radius: 20px;
}

h3{
    text-align: center;
    color:#333;
    padding: 1.5em 0 1em 0;
}

a {
    text-decoration: none;
}

ol,
ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    text-align: center;
}

section a {
    line-height: 0.8em;
    display: inline-block;
    padding: .5em;
    color: rgb(103, 28, 28);
}

section a:hover {
    background-color: rgb(255, 201, 53);
    color: #333;
    border-radius: 20px;
}

/* button CSS */
button {
    position: absolute;
    top: 100px;
    right: 50px;
    padding: 30px;
    background-image: url("images/darkmode.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 1px solid transparent;
    transition: all 500ms;
}

button:hover {
    transform: scale(1.2);
    transition: all 500ms;
    cursor: pointer;
}

/* switched settings */

#banner.switch {
    color: #333;
    border-top: rgb(98, 91, 231) 15px solid;
    transition: all 2s;
    background-color: white;
}

#bigBanner.switch, #smallBanner.switch {
    color: #333;
    background-color: white;
}

section.switch {
    color: #333;
}

section.switch a {
    color:rgb(83, 48, 117);
}

section.switch a:hover {
    background-color: rgb(79, 51, 139);
    border-radius: 20px;
    color: rgb(235, 235, 235);
}

body.switch {
    background: linear-gradient(180deg, rgba(243,183,0,1) 0%, rgba(255,120,90,1) 0%, rgba(38,56,184,1) 100%);
}

button.switch {
    background-image: url("images/sky.jpg");
    background-color: transparent;
    border: 5px solid rgb(98, 91, 231);
    border-radius: 100%;

}

button.switch:hover{
    cursor: pointer;
}