body {
    font-family: 'Nunito Sans', sans-serif;
    max-width: 60vw;
    margin: auto;
    line-height: 1.5em;
    margin-bottom: 5em;
}

h1 {
    padding: 0.5em 1em;
    background-color: rgb(0, 41, 98);
    color: rgb(255, 187, 0);
}

p {
    margin: 1em;
    padding: 1em 1.3em;
    border: 2px dotted rgb(255, 162, 0);
    border-radius: 20px;
    font-size: 18px;
}

#photos {
    display: flex;
    justify-content: center;
    margin: auto;
}

img {
    margin: 1em;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgb(46, 46, 46, 50);
}

figcaption {
    text-align: center;
}

#eventzee p, #explorial p {
    border: none;
    padding: 0;
    line-height: 1.5em;
}

#eventzee img, #explorial img {
    margin: auto;
    display: flex;
    border-radius: 10px;
}

#eventzee figcaption, #explorial figcaption {
    margin: 1em;
}

a {
    display: flex;
    margin: auto;
    max-width: 20vw;
    text-decoration: none;
    padding: 0.5em;
    border:rgb(255, 180, 29) solid 2px;
    border-radius: 10px;
    color: rgb(0, 41, 98);
    text-align: right;
    justify-content: center;
}

a:hover {
    background-color: rgb(255, 180, 29);
    color: white;
    font-weight: 500;
}