body {
    font-family: 'Nunito Sans', sans-serif;
    max-width: 60vw;
    margin: auto;
    line-height: 1.5em;
}

h1 {
    padding: 0.5em 1em;
    background-color: rgb(0, 41, 98);
    color: rgb(255, 187, 0);
}

p {
    margin: 1em;
    padding: 1em 1.3em;
    border: 2px dotted rgb(255, 162, 0);
    border-radius: 20px;
    font-size: 18px;
}

#photos {
    display: flex;
    justify-content: center;
    margin: auto;
}

img {
    margin: 1em;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgb(46, 46, 46, 50);
}

figcaption {
    text-align: center;
}
