body {
    margin: 0;
    font-family: sans-serif;
    text-align: left;
}

main ol {
    font-size: 20px;
}

p {
    color: black;
    font-size: 30px;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

section#test {
    text-align: left;
    justify-content: left;
}

ol li {
    margin-bottom: 1em;
}

ul li {
    margin: 0;
}
