body {
    max-width: 60vw;
    margin: 3% 20% 0 20%;
    padding: 2em;
    line-height: 1.5em;
    font-size: 20px;
    border: 5px black solid;
    border-radius: 10px;
}

h1 {
    font-family: 'Lora', serif;
    margin: 0 0 1em 0;
}

h4 {
    margin: 0.5em 0;
    font-family: 'Urbanist', sans-serif;
    
}

p {
    margin: 0;
    font-family: 'Urbanist', sans-serif;
    text-indent: 50px;
}

section#prototype {
    transform: rotate(270deg);
    display: flex;
    justify-content: center;
}

#paper h1 {
    margin: 0;
    padding: 0;
}

#journey img {
    margin: auto;
    padding: 2em 0;
    display: flex;
    justify-content: center;
    text-align:center;
    align-items: center;
}

#wire img {
    padding: 2em 0;
}

#sketch img {
    border: rgb(67, 67, 67) 2px solid;
    border-radius: 10px;
}