body {
    max-width: 60vw;
    margin: 3% 20% 0 20%;
    padding: 2em;
    line-height: 1.5em;
    font-size: 20px;
    border: 5px black solid;
    border-radius: 10px;
}

h1 {
    font-family: 'Lora', serif;
    margin: 0 0 1em 0;
}

h4 {
    margin: 0.5em 0;
    font-family: 'Urbanist', sans-serif;
    
}

p {
    margin: 0;
    font-family: 'Urbanist', sans-serif;
}